@model UserViewModel
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <form asp-controller="user" asp-action="profile">
                <div class="col-md-10">
                    <strong>Information</strong><br>
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <label asp-for="FirstName">First Name</label>
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input class="form-control" asp-for="FirstName" value="@Model.FirstName" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <label asp-for="LastName">Last Name</label>
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input class="form-control" asp-for="LastName" value="@Model.LastName" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <label asp-for="Email" class="align-self-center">Email</label>
                                        </strong>
                                    </td>
                                    <td class="text-primary d-flex flex-column align-items-center" style="max-width:700px;">
                                        <input class="form-control" asp-for="Created" value="@Model.Email" readonly />
                                        <button class="btn btn-warning m-3">Change Email</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <label asp-for="TotalOperationsCount">Total Operations Made</label>
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input class="form-control" asp-for="TotalOperationsCount" value="@Model.TotalOperationsCount" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <label asp-for="Created">Created</label>
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <input class="form-control" asp-for="Created" value="@Model.Created" readonly />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>                             