@model StockInfo
<div class="container border border-3 rounded-3 mt-5 stock-info " id="my-width-90">
    <div class="row">
        <div class="col-md-6 border-end border-3 d-flex flex-column justify-content-center align-items-center" id="div-index">
            <h3 class="">@Model.StockName</h3>
            <span id="price">@Model.Price</span>
        </div>

        <div class="mt-5 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div class="column">
                <span class="text-secondary">New Order</span>

                <div class="form-outline mt-2">
                    <form method="post">
                        <label class="form-label" asp-for="Quantity">Quantity</label>
                        <input asp-for="Quantity" class="form-control" min="1" value="" required />
                        <input type="hidden" asp-for="StockSymbol" value="@Model.StockSymbol" />
                        <input type="hidden" asp-for="StockName" value="@Model.StockName" />
                        <input type="hidden" asp-for="Price" value="@Model.Price" />
                        <div style="display:block;">

                            <button type="submit" asp-controller="trade" asp-action="@nameof(TradeController.SellOrder)" class="btn btn-danger mt-2">Sell</button>
                            <button type="submit" asp-controller="trade" asp-action="@nameof(TradeController.BuyOrder)" class="btn btn-success mt-2">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/JavaScript.js"></script>
}
